* {
    box-sizing: border-box;
    color: aliceblue;
}



/* ================================================================ */


.container{
    background-color: rgb(0, 0, 0);
    height: 40vmax;
    overflow: auto ;
    border-radius: 15px 0px 0px 25px;
    clip-path: polygon(0 0, 125% -10%, -4% 502%);

}

.block{
    width: 250px;
    display: inline-block;
    text-align: center;
    border: 1px solid #21bdec;
    border-radius: 10px ;
    box-shadow: 0px 223px 54px -47px rgb(0, 104, 240);
    padding: 10px;
    margin: 15px;
    background-color: rgba(33, 223, 236, 0.1);
}

.container-2{
    height: 600px;
}