body {
  background: #181E34;
  font-family: "Montserrat", "Arial", sans-serif;
  /* font-size: 16px; */
  /* font-weight: 400; */
  line-height: 150%;
  color: #fff;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

/* ============================================================================================================ */

.header {
  padding: 30px 0 36px;
}

.header_inner {
  display: flex;
  align-items: center;
}

.header_nav {
  margin-left: auto;
}

.header_list {
  display: flex;
}

.header_item {
  margin-right: 30px;
}

.header_button {
  color: #2766AE;
  background-color: #fff;
  border-radius: 100px;
  font-weight: 500;
  padding: 14px 30px;
}

/* ======================================================================= */

.hero {
  background: url("../img/hero-bg.jpg") 10% 20% / cover no-repeat;
  padding: 120px 0;
}

.hero_tittle {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: 60px;
}

.hero_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero_text {
  max-width: 436px;
}

.hero_text span {
  color: #01A2CB;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  margin-bottom: 15px;
}

.hero_buttons {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  width: 100%;
}

.hero_btn-1 {
  border-radius: 100px;
  padding: 18px 30px;
  background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
  display: flex;
  justify-content: center;
}

.hero_btn-2 {
  border-radius: 100px;
  padding: 18px 30px;
  background: linear-gradient(95deg, #00A4CC 6.7%, #2766AE 91.35%);
  display: flex;
  justify-content: center;
}

.hero_btn-2 img {
  margin-left: 4px;
}

.bottom {
  margin-bottom: 10px;
}

/* ======================================================================================== */


.cards {
  padding: 120px 0;
}

.cards-tittle {
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: normal;
  margin-bottom: 15px;
}

.cards-tittle_text {
  max-width: 513px;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.cards-flex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -28px;
  padding-bottom: 30px;
}

.cards-flex_item {
  margin-bottom: 28px;
  flex: 0 0 25%;
  padding: 0 14px;
}

.cards-flex_inner {
  border-radius: 16px;
  border: 2px solid #176BAE;
  background: #197CB8;
  box-shadow: 4px 4px 13px 0px rgba(5, 13, 41, 0.76);
  padding: 28px 15px;
}

.cards-flex_title {
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.cards-flex_text {
  text-align: center;
}

.cards-button {
  display: block;
  max-width: 436px;
  border-radius: 100px;
  padding: 18px 30px;
  background: linear-gradient(95deg, #00A4CC 6.7%, #2766AE 91.35%);
  text-align: center;
  margin: 0 auto;
}

/* ================================================================================================== */


.footer {
  padding: 60px 0;
}


.footer-iner {
  display: flex;
}

.logo-png{
  padding-bottom: 15px;
}
.logo-text {
  max-width: 267px;
}


.column-one {
  margin: auto;
}

.column-one_title {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.column-one_items {
  margin-bottom: -10px;
}

.column-one_item {
  margin-bottom: 10px;
}

.column-two {
  margin: 0 auto;
}

.column-two_title {
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.column-two_items {
  margin-bottom: -10px;
}

.column-two_item {
  margin-bottom: 10px;
}