.block__fixed{
    position: fixed;
    left: 50vw;
    bottom: 100px;
    right: 50px;
    min-height: 100px;
    background-color: black;
}

.block__red{
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 100px;
    height: 100px;
    background-color: brown;
    border-radius: 100px;
}